<!DOCTYPE html>

<html>
<head><head>
<body>



<a href="/catagory/movie">Movie    </a>
<a href="/catagory/game">game   </a>
<a href="catagory/ebook">Ebook   </a>

<a href="lgout">logout  </a>

<a href="admin/profile ">profile</a>


<h1>----------------------------------------------------------------------------------------------</h1>
<br><br><br>



	<table border="1">
		
		
	<% for(var i=0; i < userlist.length; i++){ %>
		<tr>
			<td><%= cintentlist[i].id %></td>
			
			<td>
				<a href="/home/edit/<%= userlist[i].id %>">EDIT</a> | 
				<a href="/edit">DELETE</a> 
			</td>
		</tr>
	<%  } %>
	</table>



</body>
</html>