<!DOCTYPE html>
<html>
<head>
	<title>add cont</title>
</head>
<body>
	<h2>ADD SOME THING </h2>

	<form method="post">
		Name: <input type="text" name="name"><br>
        cat: <input type="txt" name="cat"><br>
        subcat: <input type="text" name="subcat"><br>
      
		
		<input type="submit" name="" value="Submit">
	</form>
</body>
</html>