<!DOCTYPE html>
<html>
<head>
	<title>Login page</title>
</head>
<body>
	<h2>Login Page                                                                                          </h2><br>
	<h2><a href="/alogin">Admin Login</a><h2>
<br><br>
	<form method="post">
		Email: <input type="text" name="uname"><br>
		Password: <input type="password" name="password"><br>
		<input type="submit" name="" value="Submit">
	</form>
</body>
</html>