<!DOCTYPE html>

<html>
<head><head>
<body>



<a href="/catagory/movie">Movie    </a>
<a href="/catagory/game">game   </a>
<a href="catagory/ebook">Ebook   </a>

<a href="login/index">Login   </a>

<a href="/reg">Signup</a>


<h1>----------------------------------------------------------------------------------------------</h1>
<br><br><br>



</body>
</html>